header.header {
  padding: 0 1rem;
  background-color: hsl(0, 0%, 100%);
}
img {
  width: 100%;
}
.picture {
  width: calc(1rem * 2.5);
}
@media (min-width: 777px) {
  header.header {
    max-width: 66vh;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 1rem 1px hsl(205, 33%, 90%);
  }
}