@font-face {
  font-family: "PlusJakartaSans Medium";
  src: url("./assets/fonts/static/PlusJakartaSans-Medium.ttf");
}
@font-face {
  font-family: "PlusJakartaSans ExtraBold";
  src: url("./assets/fonts/static/PlusJakartaSans-ExtraBold.ttf");
}
body {
  margin: 0;
  font-family: "PlusJakartaSans Medium", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 0%, 100%);
  color: hsl(224, 21%, 14%);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "PlusJakartaSans ExtraBold";
}
@media (min-width: 777px) {
  body {
    padding: 3rem;
    background-color: hsl(210, 60%, 98%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
